body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

.navbar-brand {
  font-family: 'Special Elite', cursive;
  background: url('../assets/images/home_text7.jpg');
  background-size: cover;
  color: transparent;
  -webkit-font-smoothing:antialiased;
  -webkit-background-clip:text;
  -moz-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
  &:hover {
    cursor: default;
  }
}

.nav-link {
  margin: 0 50px;
  font-size: 20px;
  letter-spacing: 5px;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  &:hover{
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(10, 10, 10, 0.8);
  &:hover {
    color: rgba(50, 50, 50, 0.6);
  }
}


.navbar .navbar-nav {
    float: left;
    width: 85%;
    margin: 0 auto;
}

.navbar .navbar-collapse {
    text-align: center;
}

.landing-header {
  text-align: center;
  padding-top: 15vh;
  h1 {
    background: url('../assets/images/home_text7.jpg');
    background-size: cover;
    font-size: 15em;
    font-weight: bold;
    color: transparent;
    font-family: 'Special Elite', cursive;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
  }
  h3 {
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 2px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

main {
  color: #444;
}

.container {
  margin-top: 0;
  padding: 10px 0 0 0;
}

#map {
  z-index: 0;
  height: 92%;
  width: 100%;
  position: absolute;
}

.btn {
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  color: #999;
  font-size: 20px;
  font-weight: 200;
  background: none;
  border: 1px solid  rgba(50, 50, 50, 0.2);
  outline: none;
  &:hover,
  &:active,
  &:focus {
    color: #000;
    background: none;
    border: 1px solid  rgba(250, 250, 250, 0.7);
    outline: none;
  }
}

.add_job_btn {
  float: none;
}

.title_dropdown {
  background: white;
  border: none;
  height: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

.go_back_btn {
  padding: 5px;
  margin-left: 15px;
  float: none;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  &:hover {
    border: none;
    border-bottom: 1px solid rgba(150, 150, 150, 1);
  }
}

.bg-faded {
  background-color: rgba(250, 250, 250, 0.3);
}

.user_show_header {
  color: rgba(10, 250, 150, 1);
  font-size: 48px;
  margin-bottom: 20px;
}

.user_show_contact {
  margin-bottom: 50px;
}

.user-address li p {
  margin-bottom: 0;
}

.form-control {
  margin-bottom: 10px;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #888;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:focus {
    border-bottom: 1px solid rgba(10, 250, 150, 0.6);
  }
}
// 
// textarea {
//   height: 100%;
// }

.info {
  color: #222;
  font-size: 18px;
}

.find_me {
  z-index: 1000;
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  color: #999;
  margin: 20px 20px 0 0;
  right: 0;
  font-size: 24px;
  background: rgba(250, 250, 250, 0.7);
  border: 2px solid  rgba(50, 50, 50, 0.2);
  outline: none;
  &:hover,
  &:active,
  &:focus {
    color: #999;
    background: rgba(250, 250, 250, 0.9);
    border: 2px solid  rgba(10, 250, 150, 0.6);
    outline: none;
  }
}

.slider {
  padding-top: 5px;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(255,255,255,0.09) 94%, rgba(231,56,39,0) 100%);
  position: absolute;
  z-index: 10;
  right: 0;
  width: 100%;
  height: 20%;
  text-align: center;
  .note {
    margin-top: 5px;
  }
  p {
    font-size: 18px;
    margin-bottom: 0;
    #currentValue {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

// SLIDER //
input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: 40%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(10, 250, 150, 0.6);
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgba(10, 250, 150, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
  &:active {
    background: rgba(80, 250, 200, 1);
  }
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(10, 250, 150, 0.6);
}
// END SLIDER //

.slider form {
  text-align: left;
  font-size: 18px;
}

.success {
  padding: 20px 25px;
  background: rgba(10, 250, 150, 0.6);
  h5{
    color: rgba(250, 250, 250, 1);
    z-index: 1000;
  }
}

.job a {
  color: rgba(10, 250, 150, 1);
}

.job-desc {
  text-align: justify;
}

.infowindow p {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px !important;
  margin-bottom: 0;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .landing-header {
    h1 {
      font-size: 9em;
    }
    h3 {
      font-size: 2em;
    }
  }
  .navbar-nav {
    width: 50%;
    margin: 0 auto;
  }
  .nav-link a {
    margin: 0 auto;
  }
}

@media only screen and (min-device-width : 319px) and (max-device-width : 480px) {
  .landing-header {
    h1 {
      font-size: 4em;
    }
    h3 {
      font-size: 1.5em;
    }
  }

  .container {
    padding: 5px;
  }

  ul {
    padding: 0;
  }

  .navbar-toggleable-md .navbar-collapse {
    width: 100%;
  }

  .nav-link {
    text-align: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}
