<div class="container">
  <h2>Login</h2>
  <form method="POST" action="/login">
    <div class="form-group row">
      <div class="col-lg-12">
        <label for="email">Email</label><br>
        <input type="text" name="email" id="email"  class="form-control col-md-4" required>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" class="form-control col-md-4" required>
      </div>
    </div>
    <button type="submit" class="button btn btn-primary">Login</button>
  </form>
</div>
