<button class="btn go_back_btn">Go Back</button>
<div class="container">
  <h2>Edit Job</h2>

  <form method="POST" action="/jobs/<%= job.id %>">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group row">
      <div class="col-lg-12">
        <label for="title">Title</label>
          <select class="title_dropdown" name="title" id="title" value="<%= job.title %>">
            <option value="Bar staff">Bar staff</option>
            <option value="Chef">Chef</option>
            <option value="Waiter">Waiter</option>
            <option value="Kitchen porter">Kitchen porter</option>
          </select><br>
        <label for="description">Description</label>
        <textarea class="form-control col-md-4" name="description"><%= job.description %></textarea>
        <label for="rate">Rate</label>
        <input class="form-control col-md-4" type="text" name="rate" id="rate" value="<%= job.rate %>">
      </div>
    </div>
    <button class="btn btn-primary">Update</button>
  </form>
</div>
