<div class="slider">
  <input id="slider1" type="range" min="1000" max="5000" step="100" />
  <p class="note">Distance from me: <span id="currentValue">0</span></p>
</div>
<div id="map" data-users="<%= JSON.stringify(users) %>">
