<div class="slider">
  <%# <form action="">
    <input type="checkbox" name="job_title_bar" value="Bar Staff"> Bar Staffs<br>
    <input type="checkbox" name="job_title_chef" value="Chefs"> Chefs<br>
    <input type="checkbox" name="job_title_waiter" value="Waiters"> Waiters<br>
    <input type="checkbox" name="job_title_porter" value="Kitchen Porters"> Kitchen porters
    <button id="search" class="btn">Search</button>
  </form>%>
    <input id="slider1" type="range" min="1000" max="5000" step="100" list="steplist"/>
  <p class="note">Distance from me: <span id="currentValue">0</span></p>
</div>
<div id="map" data-users="<%= JSON.stringify(users) %>">
